{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>
            {% for project in test1 %}{{ project.name }}{% endfor %}
        </h1>
        <p>{{ list_project.description }}</p>
        <h2>Tasks</h2>
        <p>
            <a href="{% url 'create_task' %}">Create a new task</a>
        </p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>
                {% for tasks in project_details %}
                    <tr>
                        <td>{{ tasks.name }}</td>
                        <td>{{ tasks.assignee }}</td>
                        <td>{{ tasks.start_date }}</td>
                        <td>{{ tasks.due_date }}</td>
                        <td>{{ tasks.is_completed|yesno }}</td>
                    </tr>
                {% empty %}
                    <p>This project has no tasks</p>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
